
/*indexStyles.css 
  CSS for layout of index page (home page for GeoSyncra website)
  ceg411
  Anna Crafton
  last updated 11/1/2024*/


/*searchbar*/
.searchContainer{

    background-color:seagreen;   
    width: 70%;
    padding:3%;
    box-sizing:border-box;
    border-radius:15px;
    line-height:2.0;
    margin-left:5%;
    margin-top:5%;
    float:left;

}

/*Title*/
h4 {

    font-size:x-large;
    color:white;
    text-align:left;
}

/*   Links #fb8500 
    background #8ecae6
    dark tone #023047
    middle tone #2193bc
    bright tone #ffb703*/

/*Upload button*/
.uploadButton {

    background-color:seagreen;
    width: 15%;
    font-size:x-large;
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    border-radius:15px;
    height: 6em;
    text-align:center;
    justify-items:center;
    float:center;
    color:white;
    float:right;

}



/*Fix footer postition*/
footer{

    width: 100%;
    position:fixed;
    bottom:0px;

}




