/*
    styles.css (for GeoSyncra)
    General color / font / styling for all pages
    Ceg4100
    Anna Crafton
    Last Updated 11/1/2024

*/


/*Body Styling for Header*/
body {

    margin: 0px;
    padding: 0px;

}


/*Formating and style for header that is on every page*/
header {

    /*colors & font*/
    background-color: #023047;
    color:#ffffff; 
    font-family:'Times New Roman', Times, serif; 

    /*formating*/
    display:table;
    width:100%;
    
}

/*Formating and style for header that is on every page*/
.clock{

    display:table-cell;
    text-align:center;


}

/*Formating and style for header that is on every page*/
.title{
    
    display:table-cell;
    background-color:#023047;
    width:60%; 
    font-size:xx-large;
    font-stretch: expanded;
    text-align:center;


}

/*Formating and style for header that is on every page*/
.navBar {

    display:table-cell;
    text-align:center;


}


/*Style the Background for the Section*/
section {

    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

/*Background for login boxes + upload boxes*/
fieldset {

    background: #8ecae6;
    width: 33%;

}

/*title at top of fiieldset boxes*/
legend {

    font-size: large;
    padding: 1em;
}

/* Style the nav bar */
nav {

    list-style-type: none;
    background-color: #023047;
    color: white;
    font-size:large;

}

/*Stops the links in nav from changing color when clicked*/
a {

    color: inherit;
    text-decoration: none;
}

/*Style the main section*/
main {

    background-color: aliceblue;

}

/*Footer*/
footer {

    background-color:#023047;
    color:#fff;
    text-align:center;
    font-size:small;
    line-height:2;
}

